.DS_Store
Thumbs.db
*.log
taskflow/.dart_tool/
taskflow/build/
taskflow/.flutter-plugins
taskflow/.flutter-plugins-dependencies
taskflow/.packages
taskflow/.pub-cache/
taskflow/.pub/

# Secrets & Environment variables
**/.env
**/.env.*
!**/.env.example
**/google-services.json
**/GoogleService-Info.plist
*.jks
*.keystore
key.properties
.vscode/
